/* img{
   display: block;
   width: 400px;
    margin: auto;
} */

/* .carousel_img{
    height: 400px;
} */

body{
    margin-bottom: 0px;
}
.tech_skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.outer{
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
    flex-wrap: wrap;
    background-color: rgb(198, 23, 213);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
    min-width: 30%;
}

.achievements{
    width: 60%;
    min-width: 400px;
    margin: auto;
}

/* .achievements .outer{
    /* margin: auto; */
/* }  */
.achievements li{
    margin: 10px;
}
.hobbies{
    width: 60%;
    min-width: 400px;
    margin: auto; 
}

.hobbies li{
    margin: 10px;
}

.about_content h3{
    padding: 10px;
    text-align: center;
    color: black;
}
.about_content{
    /* background-color: rgb(220, 200, 46); */
    color: white;
    font-size: larger;
}

/* .projects{
    background-color: rgb(220, 200, 46);;
} */

.project{
    position: relative;
    padding: 10px;
}
.project .link{
    position: absolute;
    top: 5px;
    right: 5px;
}

.contact_me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-img-small{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* .carousel_content{
    width: 500px;
    display: flex;
    align-items: center;
}
*/
/* .carousel-item{
    display: flex;
    justify-content: center;
} */

.carousel-item img{
    border-radius: 500px;
} 

.inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.education{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.intro {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.intro .content {
    width: 700px;
}